// TODO: deprecate this file

.burger-button {
  button {
    display: block;
    @apply relative;
    // background color bright green in rgba
    // background-color: rgba(76, 175, 80, 0.5);;
  }

  button div {
    width: 28px;
    position: relative;
    top: 0;
    height: 1px;
    @apply bg-white;
    margin-bottom: 7px;
    @apply transition-all duration-300;
  }

  button div:first-child {
    transform-origin: 0;
    left: 0px;
  }

  button div:last-child {
    margin-bottom: 0;
  }

  button div:nth-child(2) {
    right: 0;
  }

  &__active {
    div:first-child {
      top: 16px;
      left: 8px !important;
      transform: rotateZ(-45deg);
    }

    div:last-child {
      top: -10px;
      left: 4px;
      transform: rotateZ(45deg);
    }

    div:nth-child(2) {
      opacity: 0;
    }
  }
}
